.landing-page{
    /* background: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fG1vYmlsZXxlbnwwfHx8fDE2ODQ5NTY3MjM&ixlib=rb-4.0.3&q=80&w=1080') no-repeat center center fixed; */
    background: url("/Arpit03.png") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* font-family: 'Arial', sans-serif; */
    font-size: 2rem;
   
    padding: 20px;
    position: relative;
    top: 0;
}

.landing-image>img {
    border-radius: 50%;
    width: 350px;
    transform: translate(-50%, -50%);
}
.landing-image{
    z-index: 2;
    position: relative;
    top: 20%;
    left: 15%;
}

.landing-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #833AB4;
background: linear-gradient(180deg,rgba(131, 58, 180, 1) 0%, rgba(160, 29, 253, 1) 50%, rgba(209, 69, 252, 1) 100%);
    opacity: 0.4;
    z-index: 1;
}
.landing-page h1 {
    color: white;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.landing-page p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.landing-buttons a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    background-color: #833AB4;
    padding: 7px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    z-index: 2;
    margin: 6px;
}

@media screen and (max-width: 768px) {
    
    .landing-page {
        font-size: 1.5rem;
    }
    .landing-page h1 {
        font-size: 4rem;
    }
    .landing-page p {
        font-size: 2rem;
    }
    .landing-image {
        width: 100%;
        height: auto;
        display: none;
    }

}